        <div class="container-fluid">
         
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" target="_self" href="index.html">VMWorld</a>
                </div>
                
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                    <li class="howTos" style="display:none"><a style="color:#F83;" href="HowTos.html">How To's</a></li>
                    <li><a href="ContactUs.html">Contact Us</a></li>
                    <li><a href="TermsConditions.html">Terms and Conditions</a></li>
                    <li><a href="storyboard.html">Story Board</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <!-- For links that float right to the right side. Like a sign-in or log-in link -->
                    <li id="register-link"><a href="register.html">Register</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b></a>
                        <div class="dropdown-menu" style="padding:17px;">
                            <div class="hideOnLogin" style="display:block;">
                                     
                                <form id="formLogin" class="form" method="get"> 
                                    <label>Login</label> 
                                    <input name="_csrf" id="token" type="hidden" value="342">
                                    <input name="username" id="username" type="text" placeholder="Username" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Enter your username" required="" autocomplete="off">
                                    <input name="password" id="password" type="password" placeholder="Password" title="Enter your password" required="" autocomplete="off" style="cursor: auto;"><br>
                                    <button type="button" id="btnLogin" class="btn btn-primary" type="submit" onclick="validateLogin()" form="formLogin">Login</button>
                                </form>
                                <form>
                                    <a href="register.html" title="Fast and free sign up!" id="btnNewUser" data-toggle="collapse" data-target="#formRegister">New User? Sign-up..</a>
                                </form>

                                <a data-toggle="modal" role="button" href="ContactUs.html">Forgot username or password?</a>
                                <br>
                                <a role="button" href="ContactUs.html"><small>Need help? Contact us</small></a>
                             </div>
                             <div class="showOnLogin" style="display:none">
                                 
                                 <h5>Click on the Button Below <b>&#8609;</b></h5>
                                 <button type="button" id="btnLogout" class="btn btn-danger"><i class="fa fa-sign-out"></i> Logout!</button>
                                 <br>
                                     
                                 
                            </div>
                        </div>
                    </li>           
                </ul>
            </div>
        </div>
<script src="_/js/activeNavbar.js"></script>     
<script defer src="_/js/login.js"></script>
