/*
    Document   : _/css/global．css
    Created on : 2014-11-17 02:24 AM
    Author     : nicksegal
    Description: To use globally (with every .html file we create). Hope I named this file appropriately.
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

* {   
    margin: 0;
    padding: 0;
    
    font-size: 100%;
    font-family: sans-serif;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}
small {
    font-size: 80%;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

div, header, footer, img, span{
    border-radius:3px;
}

/* Experimental H's */
h1,h2,h3,h4 { font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em; font-weight: 700; font-style: normal; line-height:1.2;  color: rgba(0,0,0,0.44);
    margin-top:8px;
    margin-bottom:16px 
}

/* boost Legibility */
.navbar-inverse .navbar-nav>li>a {
    color:#CCC;
    text-rendering: optimizeLegibility;
    text-shadow:none;
}


#footer
{
    text-align: center;
}


div.pic {
    text-align:center;
}
div.pic > img {
    
}


