/*
    Document   : _/css/index．css
    Created on : 2014-11-13 06:33 PM
    Author     : nicksegal
    Description: for use on the index.html page. Global css should be put in some other file.  
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/


body
{
    width: 98%;
    margin: 0 auto;
}
hr
{
    margin:0;
    
    color: rgb(200,200,200) !important;
}
h1, h2, h3, h4, p
{
    margin: 0;
    padding: 0;
}




.main
{
    
}
.sliderFullWidth
{
    cursor: move; 
    position:relative;
    
    width: 100%; 
    height: auto; 
    
    overflow: hidden;
}
.sliderFullWidth img 
{
    width: 1000px;
    height: auto;
}




.subContent
{
    background-color: rgb(230,230,230);
    
    padding: 0;
    margin:0.2em;
    
    display: inline-block;
    float: left;
}
.subContent h1
{
    text-align: center;
}
.subContent h2
{
    width:100%;
    margin: 0;
    padding: 0.3em 0 0 0;
    
    text-align: center;
}
.subContent h3
{
    text-align:center;
    
    font-size: 125%;
}
.subContent p
{
    width: 90%;
    min-width: 10em;
    
    margin:0 auto 0.5em !important;
    padding: 0.5em;
    
    font-size: 100%;
}
.subContent div, .subContent p
{
    margin:0.5em 0.7em;
    padding: 0.5em;
    
    background-color: rgb(250,250,250);
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.subContent div p, .subContent div ol
{
    margin:0 auto;
}
.subContent div h4
{
    text-align:center;
    font-size:100%;
    margin-bottom:0.5em;
}
.subContent div ul, .subContent div ol
{
    padding-left: 1em; 
}

.about
{
    width:15em;
    height: 23em;
    margin: 21px 6px 0 6px;
}
.video
{
    display:block;
    
    width: 80%;
    max-width:40em;
    
    height:auto;
    min-height: 20em;
    
    margin: 0 auto;
}
.videoContent
{
    display:block;
    
    width: 80%;
    min-width:20em;
    max-width:40em;
    
    margin: 0 auto !important;
}

.fullWidth
{
    display: block;
    
    padding-top: 0.5em;
    
    width: 100% !important;
}






.form
{
    display: block;
    padding: 0.5em;
}
.form table
{
    display: block;
    width: 24em;
    
    margin: 0 auto;
}
.form table td:last-child
{
    padding-left: 0.3em;
}






.tableContainer
{
    width: 90%;
    max-width: 30em;
    
    margin: 0 auto;
    padding: 1em 0;
    
    border: 1px solid black;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.tableContainer h2
{
    text-align: center;
}
.tableContainer div
{
    padding: 0 1em;
}
  
    margin:0 auto 0.5em !important;
    padding: 0.5em;
    
    font-size: 100%;
}
.subContent div, .subContent p
{
    margin:0.5em 0.7em;
    padding: 0.5em;
    
    background-color: rgb(250,250,250);
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.subContent div p, .subContent div ol
{
    margin:0 auto;
}
.subContent div h4
{
    font-size:100%;
}
.subContent div ul, .subContent div ol
{
    padding-left: 1em; 
}

.video
{
    display:block;
    
    width: 80%;
    max-width:40em;
    
    height:auto;
    min-height: 20em;
    
    margin: 0 auto;
}
.videoContent
{
    display:block;
    
    width: 80%;
    min-width:20em;
    max-width:40em;
    
    margin: 0 auto !important;
}

.fullWidth
{
    display: block;
    
    padding-top: 0.5em;
    
    width: 100% !important;
}






.form
{
    display: block;
    padding: 0.5em;
}
.form table
{
    display: block;
    width: 24em;
    
    margin: 0 auto;
}
.form table td:last-child
{
    padding-left: 0.3em;
}



#myCarousel
{
    margin:0 auto;
    padding: 0;
}